.productsContainer {
    display: flex;
    justify-content: center;
}

.productsContainer>.gridContainer {
    width: 940px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin: 50px 0;
}

.sideBarContainer {
    display: inline;
    width: 300px;
    background: #2E2E30;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.sideBarContainer>.side-close {
    position: relative;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sortByPrice {
    margin: 30px 30px 0 30px;
}

.sortByPrice>input {
    width: 90%;
}

input[type="radio"] {
    margin: 10px 10px 10px 0;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    accent-color: black;
}

h3 {
    margin: 40px 0 10px 0;
}

.categories {
    margin-left: 30px;
    border: none;
    padding: 0;
}

.categories>div {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.ratings {
    margin-left: 30px;
    border: none;
    padding: 0;
}

.ratings>div {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.shipping {
    margin-left: 30px;
    border: none;
    padding: 0;
}

.shipping>div {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.hideSidebar {
    width: 300px;
}

.cardsContainer {
    display: inline;
}

.productHeading {
    display: block;
    background: #2E2E30;
    height: 100px;
    border-radius: 5px;
    padding: 30px;
}

.productHeading>h2 {
    margin: 0;
}

.productHeading>span {
    position: relative;
    top: 42px;
}

.sortBy {
    position: relative;
    float: right;
    top: 45px;
}

.gridIcons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.gridIcons>img {
    opacity: 0.7;
    width: 30px;
    height: 30px;
    color: white;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
}

.gridIcons>.active {
    opacity: 1;
}

.showSidebarDiv {
    width: 100%;
}

.showSidebarDiv>svg {
    font-size: 32px;
    cursor: pointer;
    opacity: 70%;
}

.showSidebarDiv>svg:hover {
    opacity: 1;
}

.showSidebarDiv:hover {
    opacity: 100%;
}

.showSidebarDiv>img {
    opacity: 70%;
    width: 30px;
    height: 30px;
    color: white;
    margin: 0 0 10px 10px;
    cursor: pointer;
}

img:hover {
    opacity: 100%;
}

.cardGridContainer {
    width: 620px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-between;
}

.cardGridContainer>.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2E2E30;
    border-radius: 5px;
    height: 80%;
}

.cardGridContainer>.listView {
    width: 100%;
    flex-direction: row;
    grid-auto-rows: auto;
    grid-column: 1/3;
}

.imgDiv {
    height: 67%;
    width: 100%;
}

.listView .imgDiv {
    height: 100%;
    width: 75%;
}

.imgDiv>a>img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.listView>.detailsContainer {
    width: 100%;
    padding: 0;
}

.listView>.detailsContainer>.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
}

.productDetails {
    margin: auto 0 auto 10%;
    width: 85%;
}

.productDetails>div {
    font-size: 14px;
    font-weight: normal;
}

.title,
.price {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.hidden {
    display: none;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.cart {
    position: relative;
    float: right;
    font-size: 24px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    color: #fff;
}

.wishList {
    position: relative;
    float: right;
    font-size: 24px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    color: #fff;
}

.addedTocart {
    color: #db1f1f;
}

.pagination>ul {
    display: flex;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination>ul>li.active {
    background: #db1f1f;
}


.pagination>ul>li {
    display: flex;
    background: #2E2E30;
    width: 40px;
    margin: 0 5px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination>ul>li:hover {
    background: #db1f1f;
}

.alert {
    position: absolute;
    border-radius: 5px;
    padding: 2vw;
    background-color: white;
    color: black;
    font-size: 14px;
    max-width: 42%;
    transition: 0.5s;
}

.priceRangeDiv {
    display: flex;
    margin: 0 2em 1em 0;
}

.minP {
    width: 100%;
}

.maxP {
    width: 100%;
}

@media (max-width: 660px) {
    .sideBarContainer {
        width: 100%;
        overflow: scroll;
        height: 90%;
        padding: 10%;
    }

    .sideBarContainer>.side-close {
        margin-right: 75px;
    }

    .productHeading {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        height: 5rem;
    }

    .productHeading>h2 {
        font-size: 3.6vw;
    }

    .productHeading>span {
        position: inherit;
        font-size: 2.5vw;
    }

    .sortBy>form>label {
        font-size: 2.5vw;
    }

    .sortBy {
        position: initial;
    }

    form select {
        font-size: 2.5vw;
    }

    .showSidebarDiv {
        right: 251px;
    }

    .cardGridContainer {
        width: 100%;
        grid-template-columns: repeat(2, 48%);
    }


    .pagination>ul>li {
        height: 10vw;
    }

    .pagination>ul>li {
        width: 7%;
        font-size: 2.3vw;
    }

    .productDetails {
        margin: auto 5% auto 10%;
    }

    .productDetails>div {
        font-size: 2.3vw;
        max-font-size: 14px;
    }

    .cart,
    .wishList {
        font-size: 3.6vw;
    }

    .alert {
        font-size: 2.5vw;
    }
}

@media (max-width: 992px) {
    .productsContainer>.gridContainer {
        justify-content: center;
        width: 90%;
    }

    .sideBarContainer {
        position: fixed;
        top: 0px;
        padding: 26px 0px 0px 50px;
        height: 100%;
        transition: 0.5s;
        left: 0px;
        background: #111;
    }

    .hideSidebar {
        width: 0;
        padding: 0;
    }
}

@media (min-width: 992px) and (orientation: landscape) {
    .side-close {
        display: none;
    }

    .showSidebarDiv {
        display: none;
    }

    .cart[title]:hover::after {
        content: attr(title);
        position: absolute;
        top: -2rem;
        left: -4rem;
        padding: 0.5rem;
        border: 1px solid white 5px;
        border-radius: 5px;
        width: 8rem;
        font-size: 12px;
        background: white;
        color: black;
    }

    .wishlist[title]:hover::after {
        content: attr(title);
        position: absolute;
        top: -2rem;
        left: -4rem;
        padding: 0.5rem;
        border: 1px solid white 5px;
        border-radius: 5px;
        width: 8rem;
        font-size: 12px;
        background: white;
        color: black;
    }
}